server {
listen 80;
listen [::]:80;
server_name {{ item.string }};
root /var/www/{{ item.string }};
index index.html;
try_files $uri /index.html;
}

upstream test0 {
{% for names in upstream %}
server {{ names.server }};
server {{ ansible_default_ipv4.address }};
{% endfor %}
}
